//$Id: libmbedtls.rc,v 1.1 2018/11/07 01:11:54 cvsuser Exp $
//
//  WIN32 resource file
//

#include <winver.h>

LANGUAGE  0x09,0x01

#define RC_VERSION VERSION_1, VERSION_2, VERSION_3, 0

#define __STRINGIZE(__x)        #__x
#define STRINGIZE(__x)          __STRINGIZE(__x)

VS_VERSION_INFO VERSIONINFO
  FILEVERSION                   RC_VERSION
  PRODUCTVERSION                RC_VERSION
  FILEFLAGSMASK                 0x3fL
#if defined(DEBUGBUILD) || defined(_DEBUG)
  FILEFLAGS                     1
#else
  FILEFLAGS                     0
#endif
  FILEOS                        VOS__WINDOWS32
  FILETYPE                      VFT_DLL
  FILESUBTYPE                   0x0L

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName",      "ARM Mbed\0"
      VALUE "FileDescription",  "mbedTLS crypto library suite\0"
      VALUE "FileVersion",      STRINGIZE(VERSION) "\0"
      VALUE "InternalName",     STRINGIZE(LIBNAME) "\0"
      VALUE "OriginalFilename", STRINGIZE(LIBNAME) ".dll\0"
      VALUE "ProductName",      "mbedTLS\0"
      VALUE "ProductVersion",   "mbed tls " STRINGIZE(VERSION) "\0"
      VALUE "LegalCopyright",   "© ARM Mbed, Apache 2.0 license\0"
      VALUE "License",          "http://www.apache.org/licenses/\0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
