.makelib/
WinSparkle-0.3/
include/
patch/
bin/
bin.*/
lib.*/
objects*/
CVS/
Makefile
buildinfo.h
BUILDNUMBER
owcsetup.dbg
.created
mc.aps
.#*
wd*.bat
*.o
*.obj
*.a
*.lo
*.la
*~
*.err
*.mbr
*.log
*.old
*.sav
*.bak
*.orig


