.makelib/
include/
patch/
bin/
bin.*/
lib.*/
objects*/
msvc*/
libglib_*/
crash/
CVS/
Makefile
buildinfo.h
BUILDNUMBER
owcsetup.dbg
testaccounts.txt
.created
mc.aps
.#*
wd*.bat
*.00*
*.o
*.obj
*.a
*.lo
*.la
*~
*.err
*.mbr
*.log
*.old
*.sav
*.bak
*.orig
*.org
*.bat
