.makelib/
include/
patch/
ref/
bin
bin.*/
lib.*/
objects.*/
obj.*/
msvc*/
libglib_*/
crash/
CVS/
bin_shortcut.lnk
Makefile
buildinfo.h
BUILDNUMBER
owcsetup.dbg
testaccounts.txt
.created
mc.aps
__libtool__.lnk
.#*
wd*.bat
*.00*
*.cache
*.exe
*.dll
*.pdb
*.obj
*.o
*.a
*.lo
*.la
*~
*.err
*.mbr
*.log
*.old
*.sav
*.bak
*.orig
*.org
*.bat
