/*
 * windows resource file
 *
 * This file is part of the Midnight Commander.
 *
 * The Midnight Commander is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * The Midnight Commander is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "buildinfo.h"

#define RC_PRODUCTVERSION       VERSION_1 , VERSION_2 , VERSION_3 , VERSION_4
#define RC_FILEVERSION          VERSION_1 , VERSION_2 , VERSION_3 , VERSION_4

#ifndef  WINDRES
#include "windows.h"
#include "winver.h"
#endif

/*
 *      English (U.S.) resources
 */

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)

#ifdef _WIN32
#ifndef WINDRES
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#endif
#pragma code_page(1252)
#endif /* _WIN32 */

/*
 *      Version Information

        o FILEVERSION versionBinary     version number for the file. The version consists of two 32-bit integers, defined by four 16-bit integers.
                                        For example, "FILEVERSION 3,10,0,61" is translated into two doublewords: 0x0003000a and 0x0000003d, in that order.
                                        Therefore, if version is defined by the DWORD values dw1 and dw2, they need to appear in the FILEVERSION
                                        statement as follows: HIWORD(dw1), LOWORD(dw1), HIWORD(dw2), LOWORD(dw2).

        o PRODUCTVERSION versionBinary  version number for the product with which the file is distributed. The version parameter is two 32-bit integers,
                                        defined by four 16-bit integers. For more information about version, see the FILEVERSION description.
 */

VS_VERSION_INFO VERSIONINFO
        FILEVERSION             RC_FILEVERSION
        PRODUCTVERSION          RC_PRODUCTVERSION
        FILEFLAGSMASK           VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
        FILEFLAGS               (VS_FF_SPECIALBUILD|VS_FF_DEBUG)
#else
        FILEFLAGS               (VS_FF_SPECIALBUILD)
#endif
        FILEOS                  VOS_NT_WINDOWS32
        FILETYPE                VFT_APP
        FILESUBTYPE             VFT2_UNKNOWN
        BEGIN
                BLOCK           "StringFileInfo"
                BEGIN
                        BLOCK   "040904E4"
                        BEGIN
                                VALUE "CompanyName",            ""

                                VALUE "FileDescription",        "Midnight Commander"

                                VALUE "FileVersion",            VERSION ", Build:" BUILD_DATE "-" BUILD_NUMBER

                                VALUE "InternalName",           "WIN32 Midnight Commander"

                                VALUE "LegalCopyright",
                                        "Copyright (C) 2012 - " BUILD_YEAR ", Adam Young. All rights reserved. \n"
                                        "Copyright (C) 1994 - " BUILD_YEAR ", Free Software Foundation, and others. \n"
                                        "Copyright (C) 1990, 1993, The Regents of the University of California. \n"
                                        "Licensed under GNU General Public License version 3.0. \n"
                                        "This is free software; see the source for copying conditions. \n"
                                        "There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. \n"
                                        "see <http://www.gnu.org/licenses/> for details."

                                VALUE "LegalTrademarks",        "see GNU General Public License"

                                VALUE "Maintainers",
                                        "Port: https://github.com/adamyg/mcwin32 \n"
                                        "Original: mc-devel@gnome.org"

                                VALUE "OriginalFilename",       "mc.exe"

                                VALUE "ProductName",            "GNU Midnight Commander"

                                VALUE "ProductVersion",         VERSION ", Win32"

                                VALUE "SpecialBuild",           "mc-win32-native"
                        END
                END

                /* The following line should only be modified for localized versions.     */
                /* It consists of any number of WORD,WORD pairs, with each pair           */
                /* describing a language,codepage combination supported by the file.      */
                /*                                                                        */
                /* For example, a file might have values "0x409,1252" indicating that it  */
                /* supports English language (0x409) in the Windows ANSI codepage (1252). */

                BLOCK   "VarFileInfo"
                BEGIN
                        VALUE "Translation", 0x409, 1252
                END
        END

/*
 *      Icons
 */

0       ICON    DISCARDABLE     "art/mcnew.ico"
1       ICON    DISCARDABLE     "art/mclogo.ico"
2       ICON    DISCARDABLE     "art/mcold.ico"

#endif  /* English (U.S.) resources */

