/*
 * windows resource file
 *
 * This file is part of the Midnight Commander.
 *
 * The Midnight Commander is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation, either version 3 of the License,
 * or (at your option) any later version.
 *
 * The Midnight Commander is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#ifndef  WINDRES
#include "windows.h"
#include "winver.h"
#endif

#include "../buildinfo.h"

#define RC_PRODUCTVERSION	VERSION_1 , VERSION_2 , VERSION_3 , VERSION_4
#define RC_FILEVERSION		VERSION_1 , VERSION_2 , VERSION_3 , VERSION_4

/*
 * English (U.S.) resources
 */

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)

#ifdef _WIN32
#ifndef WINDRES
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#endif
#pragma code_page(1252)
#endif /* _WIN32 */

/*
 * Manifest
 */
#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif
#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#endif
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "./libappupdater/manifest.xml"

/*
 * Updater Meta Data
 *  nameID      typeID  {  raw data  }
 */

UPDATER HostURL		{ "\0" }
UPDATER Channel		{ "release\0" }


/*
 * Version Information
 */

VS_VERSION_INFO VERSIONINFO
#if defined(RC_FILEVERSION)
	FILEVERSION	RC_FILEVERSION
	PRODUCTVERSION	RC_PRODUCTVERSION
#endif
	FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
	FILEFLAGS	(VS_FF_SPECIALBUILD|VS_FF_DEBUG)
#else
	FILEFLAGS	(VS_FF_SPECIALBUILD)
#endif
	FILEOS		VOS_NT_WINDOWS32
	FILETYPE	VFT_APP
	FILESUBTYPE	VFT2_UNKNOWN
	BEGIN
		BLOCK	"StringFileInfo"
		BEGIN
			BLOCK	"040904E4"
			BEGIN
				VALUE "CompanyName",		""

				VALUE "FileDescription",	"GNU Midnight Commander, Auto Updater"

				VALUE "FileVersion",		VERSION ", Build:" BUILD_DATE "-" BUILD_NUMBER /* match mc.rc */

				VALUE "InternalName",		"WIN32 Midnight Commander"

				VALUE "Copyright",
					"Copyright (C) 2012-2021, Adam Young. All rights reserved. \n"
					"Copyright (c) 1998-2000 Thai Open Source Software Center Ltd and Clark Cooper. \n"
					"Copyright (c) 2001-2019 Expat maintainers. \n"
					"This is free software; see the source for copying conditions. \n"
					"There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. \n"

				VALUE "Maintainers",		"https://github.com/adamyg/mcwin32"

				VALUE "LegalTrademarks",	"see MC License"

				VALUE "OriginalFilename",	"mcupdater.exe"

				VALUE "ProductName",		"GNU Midnight Commander" /* match mc.rc */
			END
		END

		/* The following line should only be modified for localized versions.     */
		/* It consists of any number of WORD,WORD pairs, with each pair           */
		/* describing a language,codepage combination supported by the file.      */
		/*                                                                        */
		/* For example, a file might have values "0x409,1252" indicating that it  */
		/* supports English language (0x409) in the Windows ANSI codepage (1252). */

		BLOCK	"VarFileInfo"
		BEGIN
			VALUE "Translation", 0x409, 1252
		END
	END

#endif	/* English (U.S.) resources */

